<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Django - Password Generator</title>
</head>
<body>
<div class="container text-center col-sm-6">
    <div class="card mt-5">
        <form id="form">
            <table class="table p-2 ">    
                <tr>
                    <td><label for="upper">Uppercase</label></td>
                    <td><input name="upper" id="upper" type="checkbox" class="input-group"></td>
                </tr>
                <tr>
                    <td><label for="num">Numbers</label></td>
                    <td><input name="num" id="num" type="checkbox"></td>
                </tr>
                <tr>    
                    <td><label for="sep">Special Characters</label></td>

                    <td><input name="sep" id="sep" type="checkbox"></td>
                </tr>
                <tr>
                    <td>length:</td>
                    <td>
                        <div id="val-len">8</div><input class="form-range" type="range" min="5" max="64" step="1" value="8" id="length" name="length">
                    </td>
                </tr>
    
            </table>
            <div class="p-3 container ">
                <div class="row">
                    <button id="generate" class="btn btn-success btn-lg col-sm" type="button" >Generate Password</button>
                </div>
                <div class="row mt-2 p-2">
                    <p class="text-center fs-4 text-capitalize" >the password is :</p> <div id="thepassword" class="fs-1 fw-bold alert alert-danger "></div>
                </div>
            </div>
        </form>

    </div>
        <div class="mt-5">
            <a class="btn btn-outline-warning btn-bg" href="{% url 'home' %}">Back</a>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<script>
    function lenv() {
        var len= $("#length").val();
        $("#val-len").text(len);
    }
    function ppass() {
        var form = $('#form').serialize();
            $.ajax({
            url : "{% url 'ppassword' %}",
            type : "get",
            data : form,
            success:function(response){
                $("#thepassword").text(response)
            }
        });
    }
    $(document).ready(function(){
        ppass();lenv();
        $("#thepassword").text('--------');
        $("#length").click(function(){
            lenv();
        });
        $('#generate').click(function () {
            ppass();
        })
    })

</script>
</body>
</html>
